// -- Variables Global --

// Base Colors
$baseWhite: #fff;
$baseBlack: #000;

// Base Fonts
$baseFont: "Helvetica Neue";

// Base transitions
$transition: all .3s ease-in-out;

// Base Text Shadow
$shadowText: 2px 2px 0 #020202, 0 0 57px rgba(0,0,0,.2);